// import fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// declare colors
$div-background: #7878805b; /*placeholder color*/
$app-background: #2c2c2eff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.queryLine {
  display: block;
}

#dropdown-menu {
  display: inline-block;
}

.dropdownItem {
  display: inline-block;
}